* {
  margin: 0;
  padding: 0;
    font-family:monospace;
}

html {
    font-size: calc(15px + 0.390625vw);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 5vh;
}
h1 {
    font-size: 3rem;
}
.counter-value{
    font-size: 2.5rem;
}
.btns{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    width: 15rem;
    height: 8vh;
    background-color: whitesmoke;
    outline: 0;
    border: 1px solid black;
}
.btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.counter-value{
    color: black;
}